{
  "rules": {
    "strict": 1,
    "quotes": [1, "single"],
    "curly": [1, "multi-line"],
    "camelcase": 0,
    "comma-dangle": 0,
    "no-console": 2,
    "no-use-before-define": [1, "nofunc"],
    "no-underscore-dangle": 0,
    "no-unused-vars": [1, {
      "argsIgnorePattern": "^_.*$",
    }],
    "semi": 1
  },
  env: {
    "node": true
  },
}
